<html>
  <body>
    <div>On November 15, 2024, Theiagen Global Health Initiative will manage CZ GEN EPI, and the platform will be called TheiaGenEpi. Click <a href="https://help.czgenepi.org/hc/en-us/articles/20083077583764-FAQs-CZ-GEN-EPI-Transfer-to-Theiagen-Global-Health-Initiative-TGHI">here</a> for more information.</div>
    <hr />
    <div>Hi {% if user.given_name %}{{ user.given_name }}{% else %}there{% endif %},</div>
    <br />
    <div>Congratulations! You have been added to {% if organization.display_name %}the {{ organization.display_name }} Group on {% endif %}<a href="http://theiagenepi.org">TheiaGenEpi!</a> 🥳</div>
    <br />
    <div>My name is Abdoulie, and I’m the bioinformatics scientist for Theiagen Global Health Initiative’s TheiaGenEpi platform. TheiaGenEpi is an open-source, free, no-code genomic epidemiology analysis platform for public health. Our goal is to enable public health departments to identify the most effective interventions and policies to stop the spread of infectious diseases using genomic epidemiology. The secure, cloud-based platform streamlines the analysis of pathogen genomic data and generates phylogenetic trees with a single click—no need to install software or write code.</div>
    <br />
    <div>If needed, you can access our TheiaGenEpi user guides and other genomic epidemiology resources by visiting our <a href="https://theiagenepi.zendesk.com">Help Center</a>.
    <br />
    <div>If you have any questions, please email us at <a href="mailto:support@theiagenghi.org">support@theiagenghi.org</a>. Welcome to TheiaGenEpi!</div>
    <br />
    <div>Best,</div>
    <div>Abdoulie, on behalf of the TheiaGenEpi team</div>
  </body>
</html>
